// ────────────── Output Configuration ──────────────
// You can run `niri msg outputs` to get the correct name for your displays.
// You will have to remove "/-" and edit it before it takes effect.
// https://github.com/YaLTeR/niri/wiki/Configuration:-Outputs

output "eDP-2" {
    // 取消注释以禁用此显示器。
  //``  off

    // 启动时聚焦于此显示器
    focus-at-startup

    // 格式为"<宽度>x<高度>"或"<宽度>x<高度>@<刷新率>"。
    // 若省略刷新率，niri 将选择该分辨率的最高刷新率。
    mode "2560x1440"

    // 缩放比例。可使用整数或分数，例如 150%。
    scale 1.2

    // transform 用于逆时针旋转显示器。有效值：
    // normal, 90, 180, 270, flipped, flipped-90, flipped-180, flipped-270。
    transform "normal"

    // 输出在全局坐标空间中的位置。未明确配置的显示器将置于所有已放置显示器的右侧。
    // position x=1280 y=0
}
