    prefer-no-csd
    // 截图保存路径。设为 null 则不保存到磁盘。
    screenshot-path "~/Pictures/ScreenShot/%Y-%m-%d %H-%M-%S.png"

    environment {
        https_proxy "http://127.0.0.1:7890"
        http_proxy "http://127.0.0.1:7890"
        XMODIFIERS "@im=fcitx"
        ELECTRON_OZONE_PLATFORM_HINT "auto"
        //QT_QPA_PLATFORM "wayland"
        //QT_QPA_PLATFORMTHEME "gtk3"
        QT_WAYLAND_DISABLE_WINDOWDECORATION "1"
        XDG_CURRENT_DESKTOP "niri"
        //XDG_SESSION_TYPE "wayland"
    }

    cursor {
        xcursor-theme "Bibata-Modern-Ice"
        xcursor-size 20   
      }

    debug {
        // Allows notification actions and window activation from Noctalia.
        honor-xdg-activation-with-invalid-serial
    }

    hotkey-overlay {
       skip-at-startup
    }
//    blur {
//    // off
//        passes 3
//        offset 3
//        noise 0.02
//        saturation 1.5
//}
